@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
body {
  background-image: url("../src/sheldon2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  margin-top: 110px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 55vh;
  width: 500px;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.7);
}

.shelly {
  border-radius: 50%;
  height: 110px;
  position: relative;
  left: 213px;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.9);
}

.flag-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 25px;
  left: 17px;
}

.primeiraCor {
  height: 145px;
  width: 100px;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background: #ffffff;
  border-width: 3px 1px 3px 3px;
}

.segundaCor {
  height: 145px;
  width: 100px;
  background: #191970;
  border: 1px solid black;
  border-width: 3px 1px;
}

.terceiraCor {
  height: 145px;
  width: 100px;
  background: #000000;
  border: 1px solid black;
  border-width: 3px 3px 3px 1px;
}

/* Bazinga container */
.bazinga-container {
  display: flex;
  margin-top: 110px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 55vh;
  width: 500px;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.7);
}

.shellyB {
  border-radius: 50%;
  height: 130px;
  position: relative;
  left: 213px;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.9);
}

h3 {
  display: flex;
  align-items: center;
  position: relative;
  left: 87px;
  bottom: 40px;
  font-family: "Londrina Shadow", cursive;
  font-size: 2.5rem;
  width: 25px;
  letter-spacing: 5px;
}

.primeiraCorFrança {
  height: 145px;
  width: 100px;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background: blue;
  border-width: 3px 1px 3px 3px;
}

.segundaCorFrança {
  height: 145px;
  width: 100px;
  background: white;
  border: 1px solid black;
  border-width: 3px 1px;
}

.terceiraCorFrança {
  height: 145px;
  width: 100px;
  background: red;
  border: 1px solid black;
  border-width: 3px 3px 3px 1px;
}

.france-container {
  display: flex;
  position: relative;
  align-items: center;
  top: 82px;
  right: 9px;
}

. @media (prefers-reduced-motion: no-preference) {
}
