@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
body {
  background-image: url("../src/sheldon2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  margin-top: 110px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 55vh;
  width: 500px;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.7);
}

.shelly {
  border-radius: 50%;
  height: 130px;
  position: absolute;
  left: 263px;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.9);
}

.shellyB {
  border-radius: 50%;
  height: 130px;
  position: absolute;
  left: 275px;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.9);
}

.flag-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 82px;
  left: 100px;
}

.primeiraCor {
  height: 145px;
  width: 100px;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background: #ffffff;
  border-width: 3px 1px 3px 3px;
}

.segundaCor {
  height: 145px;
  width: 100px;
  background: #191970;
  border: 1px solid black;
  border-width: 3px 1px;
}

.terceiraCor {
  height: 145px;
  width: 100px;
  background: #000000;
  border: 1px solid black;
  border-width: 3px 3px 3px 1px;
}

/* Bazinga container */
.bazinga-container {
  display: flex;
  margin-top: 110px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 55vh;
  width: 500px;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 8px 15px rgba(5, 5, 5, 0.7);
}

h3 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 375px;
  font-size: 2.5rem;
}

.palavras1 {
  font-family: "Londrina Shadow", cursive;
  left: 225px;
  letter-spacing: 5px;
}

.palavras2 {
  left: 203px;
  font-family: "Gaegu", cursive;
  text-transform: uppercase;
  letter-spacing: -4px;
}

/* nome dos países */
h4 {
  display: flex;
  position: relative;
  top: 360px;
  right: 78px;
}

.country-style {
  opacity: 0;
}

.nigeria-style {
  right: 85px;
}

.france-style {
  right: 84px;
}

.belgica-style {
  right: 83px;
}

.irlanda-style {
  right: 86px;
}

.costa-style {
  right: 120px;
}

.romenia-style {
  right: 92px;
}

. @media (prefers-reduced-motion: no-preference) {
}
